*{ 
    font-family: Helvetica;

    margin: 0;
    padding: 0;
}

img {
    width: auto;
   height: 100%;
}

header a{
    text-decoration: none;
    color: black;
    
}

header nav ul{
    list-style-type: none;
    display: flex;
    gap: 110px;
    margin: 85px 50px 0px 0px;
    
}

h1 {
    font-weight: bold;
   }

   footer a{
    text-decoration: none;
    color: white;
    
}

footer nav ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-right: 50px;
}
 header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
 }

 
 .logotipo {
    width: 90%;
    margin: 30px 0px 0px 50px;
 }

.dessau {
    width: 96%;

    margin-top: 90px;
    
}

main {
    margin-left: 50px ;
}

.storia h1 {
    margin-bottom: 50px ;
   
}

.storiabold {
    font-weight: bold;
}

header nav ul li:hover {
    text-decoration: underline;
}

button {
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 10px 50px; 
    border-radius: 30px;
    background: red;
    color: white;
    border: 0px;
}

button:hover {
    font-weight: bold;
}

.storia p {
    line-height: 1,5rem;
}



.didattica h1 {
    margin-bottom: 50px;
    margin-top: 40px;
}

.spaziotesto {
    margin-bottom: 25px;
}
 .didattica {
    display:flex;
    margin-top: 100px;
 }

 div.didattica img {
    width: 80%;
    height: auto;
    float: right;
    
 }
 
 .titolodidattica {
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    margin-top: 50px;
 }

 footer {
    align-items: center;
    
display: flex;
justify-content: space-between;

    width: 100%;
    height: 90px;
    background: black;
 }

 footer .logotipobianco {
    width: 50%;

 }

 .logotipobianco {
margin-left: 50px;
 }

 footer nav ul {
    gap: 100px;

 }

 div.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
    width: 97%;
    height: auto;
    
    
}

div.card img {
    width: 100%;
    height: auto;
    
}

section.fondatoricard {
    margin: 0;
 
    width: 100%;
    box-sizing: border-box;
    
  }

  #titolofondatori {
    margin-bottom: 50px;
  }

  .titolo {
    margin-bottom: 25px;
    width: 40%;
    height: auto;
    margin-top: 50px;
 }

.archive {
    width: 100%;
    
 }

 .chair {
    width: 40%;
    height: auto;
   float: right;
   display: flex;
   margin-top: 500px;
 }

 .materie {
    width: 40%;
float: right;
margin: 50px;
display: grid;
margin-bottom: 0px;
 }

 .spaziotesto {
    width: 80%;
 }
 
 .testoricerca {
    margin-bottom: 100px;

 }

 .contenutoabout {
    margin-top: 100px;
 }

 .titoli {
    margin-bottom: 50px;
    margin-top: 60px;
 }

 .spaziocard {
    margin-bottom: 100px;
 }
 
 .imgstudenti {
    width: 96%;
    height: auto;

}

.testip {
width: 50%;
    margin-top: 60px;
}

.imgallievi {
    width: 200%;
    margin-left: 50px;
}